@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
  --document-downscale: 1.5; /* Original Scale / --document-downscale */
  --outline: 1px solid yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: calc(7px / var(--document-downscale)) solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: calc(48rem / var(--document-downscale));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right p {
  margin: 0;
}

.right {
  width: calc(48rem / var(--document-downscale));
  font-size: calc(1.5rem / var(--document-downscale));
}

/* ELEMENTS STYLE */
h1 {
  font-size: calc(3.5rem / var(--document-downscale));
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: calc(6rem / var(--document-downscale));
  width: calc(15rem / var(--document-downscale));
  padding: calc(2rem / var(--document-downscale))
    calc(0rem / var(--document-downscale));
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: calc(1.4rem / var(--document-downscale));
  position: absolute;
  top: calc(2rem / var(--document-downscale));
  right: calc(2rem / var(--document-downscale));
}

.again {
  position: absolute;
  top: calc(2rem / var(--document-downscale));
  left: calc(2rem / var(--document-downscale));
}

.guess {
  background: none;
  border: calc(4px / var(--document-downscale)) solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: calc(5rem / var(--document-downscale));
  padding: calc(2.5rem / var(--document-downscale));
  width: calc(25rem / var(--document-downscale));
  text-align: center;
  display: block;
  margin-bottom: calc(3rem / var(--document-downscale));
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: calc(2rem / var(--document-downscale));
  font-family: inherit;
  padding: calc(2rem / var(--document-downscale))
    calc(3rem / var(--document-downscale));
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: calc(8rem / var(--document-downscale));
  height: calc(3rem / var(--document-downscale));
}

.message-error {
  color: red;
}

.label-score {
  margin-bottom: calc(2rem / var(--document-downscale));
}

.key-bindings {
  /* display: flex; */
  /* flex-direction: column; */
}
